@media(max-width:1466px){
    .carousel_services{
        width: 100%;
        height: 510px;
        margin-left: -40px;
    }
    
    #slider{
        margin-left:208px;
    }
}
@media(max-width:1405px){
    .carousel_services{
        margin-left: -70px;
    }
    #slider{
        width: 82%;
       margin-left: 220px;
       margin-top: 40px; 
    }
}
@media(max-width:1370px){
    #slider{
        margin-left: 205px;
        margin-top: 45px;
    }
    .carousel_services{
        margin-left: -70px;
        height: 530px;
    }
}
@media(max-width:1360px){
    .description-services{
        margin-right: 105px;
    }
}
@media(max-width:1350px){
    .description-services{
        margin-right: 100px;
    }
    .carousel_services{
        margin-left: -80px;
        width: 95%;
    }
    #slider{
        margin-left: 215px;
        width: 86%;
    }  
    .networks img {
        left: 760px;
    }
}
@media(max-width:1330px){
    .carousel_services{
        margin-left: -78px;
        height: 500px;
    }
    #slider{
        margin-left: 228px;
        width: 84%;
    }
}
@media(max-width:1300px){
    .carousel_services{
        margin-left: -118px;
        height: 500px;
    }
    #slider{
        margin-left: 228px;
        width: 84%;
    }
}
@media(max-width:1295px){
    .carousel_services{
        height: 500px;
        margin-left: -96px;
    }
    #slider{
        margin-left: 225px;
        margin-top: 55px;
    }
    #slider-container{
        height: 570px;
    }
} 
@media(max-width:1265px){
    .description-services{
        margin-right: 94px;
    }
    .networks img {
        left: 715px;
    }
}  
@media(max-width:1260px){
    .carousel_services{
        height: 490px;
        margin-left: -100px;
    }
    #slider{
        margin-left: 220px;
    }
}
@media(max-width:1230px){
    .carousel_services{
        height: 475px;
    }
    .networks img {
        left: 715px;
    }
    
}
@media(max-width:1215px){
    .networks img {
        left: 665px;
    }
}
@media(max-width:1200px){
    .services img{
        left: 100px;
    }
}
@media(max-width:1195px){
    .carousel_services{
        height: 455px;
        width: 98%;
        margin-left: -115px; ;
    }
    #slider-container{
        height: 520px;
    }
    #slider{
        margin-top: 40px;
    }
    .services h2{
        width: 54%;
    }
}
@media(max-width:1166px){
    .networks_installation{
        width: 80%;
        margin-top: 75px;
    }
    .networks img{
        margin-top: 310px;
        left: 510px;
    }
    .networks{
        height: 960px;
    }
}
@media(max-width:1150px){
    .services img{
        width: 370px;
        height: 290px;
    }
}
@media(max-width:1125px){
    .carousel_services{
        height: 450px;
        margin-left: -115px;
    }
}
@media(max-width:1108px){
    .services img{
        left: 75px;
    }
}
@media(max-width:1100px){
    .carousel_services{
        height: 440px;
    }
    .services h2{
        width: 58%;
    }
}
@media(max-width:1080px){
    .carousel_services{
        height: 430px;
        margin-left: -115px;
    }
    #slider{
        margin-left: 210px;
    }
}
@media (max-width:1042px){
    .networks img{
        left: 420px;
    }
}
@media(max-width:1040px){
    .carousel_services{
        height: 425px;
    }
    .services{
        height: 685px;
    }
}
@media(max-width:1020px){
    .carousel_services{
        height: 420px;
        margin-left: -120px;
    }
}
@media (max-width:995px){
    .card a{
        font-size: 18px;
    }h5.card-title{
     font-size: 1.10rem;
    }
}
@media(max-width:980px){
    .carousel_services{
        width: 100%;
        height: 415px;
    }
    .services img{
        top: 1265px;
        width: 480px;
        height: 320px;
        left: 250px;
    }
    .services{
        height: 870px;
    }
    .description-services{
        text-align: center;
        margin: 0px auto;
        width: 100%;
        margin-left: 50px;
        padding: 20px;
    }
    .services h2{
        width: 100%;
        text-align: center;
        margin: 0p auto;
        margin-bottom: 25px;
        margin-top: 65px;
    }
}
@media(max-width:940px){
    #slider{
        margin-top: 50px;
        margin-left: 200px;
    }
    .carousel_services{
        height: 410px;
    }
}
@media(max-width:905px){
    .carousel_services{
        margin-left: -135px;
        height: 390px;
    }
    #slider-container{
        height: 440px;
    }
}
@media(max-width:880px){
    .carousel_services{
        margin-left: -110px;
    }
    #slider{
        margin-left: 181px;
    }
}
@media(max-width:835px){
    .carousel_services{
        height: 385px;
    }
}
@media(max-width:790px){
    .carousel_services{
        height: 365px;
    }
}
@media(max-width:760px){
    .carousel_services{
        height: 355px;
        margin-left: -120px;
    }
    #slider{
        margin-left: 181px;
    }
}
@media(max-width:730px){
    .carousel_services{
        height: 350px;
    }
}
@media(max-width:700px){
    .carousel_services{
        height: 335px;
    }
    #slider-container{
        height: 410px;
    }
}
@media(max-width:650px){
    .carousel_services{
        height: 325px;
    }
    #slider-container{
        height: 400px;
    }
}
@media(max-width:650px){
    #slider{
        width: 95%;
        margin-left: 135px;
    }
    .carousel_services{
        height: 350px;
    }
}
@media(max-width:580px){
    .carousel_services{
        height: 328px;
    }
}
@media(max-width:520px){
    .carousel_services{
        height: 310px;
    }
}
@media(max-width:490px){
    #slider-container{
        height: 360px;
    }
    .carousel_services{
        height: 295px;
    }
}
@media(max-width:430px){
    #slider-container{
        height: 300px;
    }
    .carousel_services{
        height: 270px;
    }
    #slider{
        margin-top: 42px;
    }
}