@media(max-width:1466px){
    .carousel_services{
        width: 96%;
        height: 540px;
    }
    
    #slider{
        margin-left:145px;
    }
}
@media(max-width:1405px){
    .carousel_services{
        width: 92%;
    }
    #slider{
       margin-left: 180px;
       margin-top: 55px; 
    }
}
@media(max-width:1370px){
    #slider{
        margin-left: 170px;
        margin-top: 70px;
    }
    .carousel_services{
        height: 505px;
    }
}
@media(max-width:1295px){
    .carousel_services{
        height: 480px;
        width: 90%;
    }
    #slider{
        margin-left: 170px;
        margin-top: 55px;
    }
    #slider-container{
        height: 570px;
    }
}   
@media(max-width:1260px){
    .carousel_services{
        height: 460px;
    }
}

@media(max-width:1195px){
    .carousel_services{
        height: 455px;
        width: 100%;
        margin-left: -45px; ;
    }
    #slider-container{
        height: 520px;
    }
    #slider{
        margin-top: 40px;
    }
}
@media(max-width:1125px){
    .carousel_services{
        height: 440px;
        margin-left: -50px;
    }
}
@media(max-width:1080px){
    #slider-container{
        height: 490px;
    }
    #slider{
        margin-top: 60px;
        margin-left: 153px;
    }
}
@media(max-width:1020px){
    .carousel_services{
        height: 420px;
        margin-left: -65px;
    }
}
@media(max-width:980px){
    .carousel_services{
        width: 100%;
    }
}
@media(max-width:905px){
    .carousel_services{
        margin-left: -50px;
        height: 380px;
    }
    #slider-container{
        height: 440px;
    }
    #slider{
        margin-top: 48px;
    }
}